<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hades.blog_service.mapper.SysBlogDetailsMapper">
    <select id="selectDetails" resultType="com.hades.blog_service.entity.SysBlogDetails">
        SELECT
		 sys_blog_details.*,
		 sys_blog_tags.t_name,
		 sys_blog_sort.`name`
		 FROM
				sys_blog_details
				JOIN sys_blog_tags ON sys_blog_details.t_id = sys_blog_tags.id
				JOIN sys_blog_sort ON sys_blog_details.s_id = sys_blog_sort.id
    </select>
</mapper>
